antlr4-python3-runtime==4.9.3
attackcti==0.4.0
attrs==23.1.0
boto3==1.26.152
botocore==1.29.152
carbon-black-cloud-sdk==1.4.2
certifi==2023.5.7
charset-normalizer==3.1.0
contextlib2==21.6.0
decorator==5.1.1
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
jmespath==1.0.1
jsonschema==4.17.3
kaleido==0.2.1
keyring==23.13.1
more-itertools==9.1.0
numpy==1.24.3
packaging==23.1
pandas==2.0.2
plotly==5.15.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
s3transfer==0.6.1
schema==0.7.5
simplejson==3.19.1
six==1.16.0
solrq==1.1.2
stix2==3.0.1
stix2-patterns==2.0.0
taxii2-client==2.3.0
tenacity==8.2.2
tzdata==2023.3
urllib3==1.26.16
validators==0.20.0
zipp==3.15.0
