antlr4-python3-runtime==4.9.3
attackcti==0.4.0
attrs==23.1.0
boto3==1.28.56
botocore==1.31.56
carbon-black-cloud-sdk==1.4.3
certifi==2023.7.22
charset-normalizer==3.2.0
contextlib2==21.6.0
decorator==5.1.1
idna==3.4
importlib-metadata==6.8.0
jaraco.classes==3.3.0
jmespath==1.0.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
kaleido==0.2.1
keyring==24.2.0
more-itertools==10.1.0
numpy==1.26.0
packaging==23.1
pandas==2.1.1
plotly==5.17.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.3
s3transfer==0.7.0
schema==0.7.5
simplejson==3.19.1
six==1.16.0
solrq==1.1.2
stix2==3.0.1
stix2-patterns==2.0.0
taxii2-client==2.3.0
tenacity==8.2.3
tzdata==2023.3
urllib3==2.0.7
validators==0.22.0
zipp==3.17.0
